html {
    --Black1: #1C1C1C;
    --Black2: #000000;
    --deep-blue: #191970;
    --white1: #FFFFFF;
    --gray1: #d3d0d0;
    --deep-gray: #1d1d1d;
}

body {
    font-family: 'Nunito', sans-serif;
    color: var(--Black1)
}

h1,
h2,
h3 {
    font-family: 'Asap', sans-serif;
    color: var(--Black2)
}

.btn {
    color: var(--white1);
    text-decoration: none;
    padding: 10px 30px;
    background-color: var(--deep-blue);
    font-size: 0.9em;
    border-radius: 3px;
}


/* Nav Bar */

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--deep-blue);
}

nav>a {
    text-decoration: none;
    color: var(--white1);
    font-weight: 800;
    font-size: 32px;
    font-family: 'Yellowtail', sans-serif;
    padding: 5px;
    /* margin-left: 15px; */
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
}

nav ul li {
    text-align: center;
    width: 100%;
}

nav ul li a {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: var(--white1);
}


/* Header */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/camera.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--white1);
    text-align: center;
    padding: 20px;
}

header h1 {
    color: var(--white1);
}

header p {
    margin-bottom: 2em;
}


/* About */

#Sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color: var(--deep-blue);
    color: var(--white1);
}

#Sobre h2 {
    color: var(--white1);
}

#Sobre p {
    margin-bottom: 2.5em;
    max-width: 1000px;
}

#Sobre .btn {
    background-color: var(--gray1);
    color: var(--deep-gray);
}


/* Services */

#Serviços {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

#Serviços div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}


/* Photos */

#Fotos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

#Fotos h2 {
    margin-bottom: 20px;
}

#Fotos img {
    width: 100%;
}


/* Contact */

#Contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#Contato h2 {
    color: var(--Black1);
}


/* Footer */

footer {
    text-align: center;
    padding: 10px;
    background-color: var(--deep-blue);
    color: var(--white1);
}

footer a {
    text-decoration: none;
    color: var(--deep-blue);
}